<div>
   <button (click)="startGame()" type="button">StartGame</button>
   <button (click)="resetGame()" type="button">ResetGame</button>
</div>

<div *ngIf="isStartGame" class="container">
<div class="input-fields">
  <label for="rows"> Enter the number of rows : </label>
   <input type="number" name="rows" [(ngModel)]="rows" />
</div>
<div class="input-fields">
   <label> Enter the number of columns : </label>
   <input type="number" [(ngModel)]="columns" />
</div>

<button (click)="initializeMatrix()" type="button">Submit</button>
<button (click)="getDimension()" type="button">Result</button>
</div>
<div>
   <table class="table" >
      <tbody>
         <tr *ngFor="let row of treasureMatrix; index as i">
            <td class="cell" (click)="getValue(i,j)" *ngFor="let col of row; index as j">{{treasureMatrix[i][j]}} </td>
         </tr>
      </tbody>
   </table>
   
</div>